<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makicop-Tickets</title>
    <link rel="stylesheet" href="{{url}}css/semantic.min.css"/>
    <script src="{{url}}js/jquery.min.js"></script>
    <script src="{{url}}js/semantic.min.js"></script>
  </head>
  <body ng-app="home" ng-controller="homeCtrl">
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
        <a class="active item" href="{{url}}">
          Makicop-Tickets
        </a>
        <a class="item" href="{{url}}about">
          Sobre la app
        </a>
        <a class="item right" ng-show="{{usuario}}" ng-click="btnCierra()">
          Cerrar sesion
        </a>
      </div>
    </div>
    {{{body}}}
  </body>
  <script src="{{url}}js/build.js"></script>
  <script src="{{url}}js/socket.io.js"></script>
</html>
