<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <center>
      <h1>Base hecnt v1</h1><hr>
    <center>
  </div>
  <div class="two wide column"></div>
</div>
