<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
<div ng-controller="logonCtrl">
  <div class="ui container" style="padding-top:100px">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <img src="assets/images/logo.png" class="image">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" placeholder="Ingresa tu usuario" ng-model="logon.usuario">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password" ng-model="logon.pass">
              </div>
            </div>
            <div class="ui fluid large teal submit button" ng-click="btnLogon()">Login</div>
          </div>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
  </div>
</div>
